<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
  <title>REVIEW</title>
  <link rel="stylesheet" href="/css/review/view.css" />
  <!-- javascript -->
  <script defer src="/js/review/view.js"></script>
  <script defer src="/js/review/kakao_map.js"></script>
  <script type="text/javascript"
          th:src="@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${serviceKey}, libraries=services)}"></script>
</head>
<body>
  <div layout:fragment="content" class="container">
    <div class="review-top">
      <div class="review-map" id="map"></div>
      <div id="review-store">
        <div class="review-store-box">
          <div class="store-name" th:text="${review.storeName}"></div>
          <div class="store-address" id="store-address" th:text="${review.storeAddress}"></div>
          <div class="store-mark">
            <p>리뷰어 평점</p>
            <ul id="reviewer-star" th:data-reviewer-star="${review.star}">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>
          </div>
          <div class="store-heart">
            <a>
              <i class="fa-regular fa-heart"></i>
              <!--<i class="fa-solid fa-heart"></i>-->
            </a>
          </div>
        </div>
      </div>
      <div id="review-writer">
        <div class="review-writer-box">
          <div class="writer-image">
            <img src="#" art="profile-image" />
          </div>
          <div class="writer-info">
            <p class="writer-name">닉네임</p>
          </div>
          <div class="writer-action">
            <button id="btn-subscribe">구독하기</button>
            <!--<button id="btn-subscribe-cancel">구독취소</button>-->
            <button id="btn-chat">1:1 채팅</button>
          </div>
        </div>
      </div>
    </div>
    <div class="review-middle">
      <p class="review-title" th:text="${review.title}"></p>
      <div class="review-content" th:utext="${review.content}"></div>
      <div class="review-btn">
        <div class="review-btn-left">
          <button id="go-home">HOME</button>
        </div>
        <div class="review-btn-right">
          <button id="update-review" th:data-review-id="${review.reviewId}">편집</button>
        </div>
      </div>
    </div>
    <div class="review-bottom">
      <div>
        댓글 (0)
      </div>
      <div>
        댓글쓰기
      </div>
      <div>
        댓글뷰
      </div>
      <div>
        댓글페이징
      </div>
    </div>
  </div>
</body>
</html>