<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
  <title>MYPAGE > PROFILE</title>
  <link rel="stylesheet" href="/css/mypage/fragments/aside.css" />
  <link rel="stylesheet" href="/css/mypage/view.css" />
</head>
<body>
  <div layout:fragment="content" class="container">
    <div th:replace="mypage/fragments/aside::aside"></div>
    <div class="profile-wrap">
      asdfasdf
    </div>
  </div>
</body>
</html>