<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
  <title>MYPAGE > NOTIFICATION</title>
  <link rel="stylesheet" href="/css/my/fragments/aside.css" />
  <link rel="stylesheet" href="/css/my/notification.css" />
  <script defer src="/js/my/fragments/aside.js"></script>
</head>
<body>
  <div layout:fragment="content" class="container">
    <div th:replace="my/fragments/aside::aside"></div>
    <div class="notification-wrap">
      <p>알림 내역</p>
      <div class="notification-box">
        <div class="notification-tool">
          <div class="notification-no-read">읽지 않은 알림 <span class="no-read-count">0</span> 개</div>
          <div><button type="button" id="all-read"><i class="fa-solid fa-check"></i>모두 읽음 표시</button></div>
        </div>
        <div class="notification-list">
          <div class="notification-content">
            <div>
              <i class="fa-solid fa-circle fa-2xs"></i>
              <a href="#">알림 내용</a>
            </div>
            <div>알림시간</div>
          </div>
          <div class="notification-content">
            <div>
              <i class="fa-solid fa-circle fa-2xs"></i>
              <a href="#">알림 내용</a>
            </div>
            <div>알림시간</div>
          </div>
        </div>
        <div class="my-reviews-pageable">
          페이지
        </div>
      </div>
    </div>
  </div>
</body>
</html>