<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>REGISTER</title>
</head>
<body>
  <h3>Member Register</h3>
  <form th:action="@{/member/add}" th:object="${memberForm}" method="post">
    <input type="text" th:field="*{email}" placeholder="email" />
    <span th:errors="*{email}"></span>
    <input type="password" th:field="*{password}" placeholder="password" />
    <span th:errors="*{password}"></span>
    <input type="text" th:field="*{username}" placeholder="username" />
    <span th:errors="*{username}"></span>
    <button type="submit">REGISTER</button>
  </form>
</body>
</html>