<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<body>
  <header th:fragment="header">
    <div id="header">
      <h1 id="logo"><a href="/">Today's Tasty</a></h1>
      <div class="search-box">
        <form>
          <input type="text" id="search" />
          <button type="button" id="btn-search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <nav>
        <ul>
          <li id="login"><a href="/"><i class="fa-solid fa-right-to-bracket"></i></a></li>
          <li><a href="/"><i class="fa-regular fa-bell"></i></a></li>
          <li><a href="/"><i class="fa-solid fa-user"></i></a></li>
          <li><a href="/"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>