<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
  <title>SIGN IN</title>
  <link rel="stylesheet" href="/css/sign_in.css" />
</head>
<body>
  <div layout:fragment="content" class="container">
    <div class="sign-in-box">
      <h2>로그인</h2>
      <form>
        <div class="sign-in-item">
          <input type="text" placeholder="이메일" />
          <small></small>
        </div>
        <div class="sign-in-item">
          <input type="password" placeholder="비밀번호" />
          <small></small>
        </div>
        <div class="sign-in-chk">
          <input type="checkbox" />
          <span>자동 로그인</span>
        </div>
        <button id="btn-sign-in">로그인</button>
      </form>
      <p class="sign-in-box-more-action">
        <a href="/">회원가입</a>
        <span class="more-action-divider"></span>
        <a href="/">비밀번호 찾기</a>
      </p>
    </div>
  </div>
</body>
</html>